<header>
    <nav>
        <center><img src="../../static/Logo.png" width="250px"></center>
        <br>
        <ul>
            <li><a href="/tabGeral/1">TABELA GERAL</a></li>
            <li><a href="/arrecadacoes/1">ARRECADAÇÕES</a></li>
            <% if(req.session.adm) { %>
                <li><a href="/nova-doacao">NOVA DOAÇÃO</a></li>
            <% } %>
            <%if(req.session.loggedin){%>
            <a href="/logout">Sair da Conta</a>
            <% } %>
        </ul>
    </nav>
</header>