<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br><br>
    <center>
        <h1 id="h1Login">TABELA GERAL</h1>
        <main id="MainDash">
        <%- include("../partials/pointsTable") %>
        </main>
    </center>
    <br>

    <%- include("../partials/footer") %>
</body>

</html>