<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <br>
    <center><h1>USUARIO SEM LOGIN NÃO TEM PERMISSÃO PARA ENTRAR NESTA PÁGINA</h1>
    <br>
    <a href="/Login"><h2>Ir para a Página de Login</h2></a>
</center>
    <%- include("../partials/footer") %>
</body>

</html>